*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: lightblue;
}
img {
    max-width: 100%;
}
.container {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}
.error-heading {
    position: relative;
    top: 40px;
    left: 20px;
}
iframe {
    display: none;
}